Repository hairyhenderson/go-fsimpl, pull requests merged in 2022-09, with the labels that each got.

#93 Add consulfs package
  autofs/lookup.go
  consulfs/consul.go
  consulfs/consul_test.go
  consulfs/doc.go
  consulfs/extensions.go
  go.mod
  go.sum
  internal/tests/integration/consulfs_test.go
  internal/tests/integration/gitfs_test.go
  internal/tests/integration/integration_test.go
  internal/tests/integration/vaultfs_test.go
Labels: filesystem

#151 A few test tidy ups, including working with modern git
  README.md
  internal/tests/integration/gitfs_test.go
Labels: documentation

#86 Add awssmpfs package
  README.md
  autofs/lookup.go
  awssmpfs/awssmp.go
  awssmpfs/awssmp_test.go
  awssmpfs/doc.go
  awssmpfs/fake_client_test.go
  awssmpfs/types.go
  go.mod
  go.sum
Labels: filesystem, dependencies

#159 vaultfs: Support K/V v2 secret engine
  internal/tests/integration/vaultfs_test.go
  vaultfs/doc.go
  vaultfs/vault.go
  vaultfs/vault_test.go
Labels: enhancement

#160 Upgrade AWS SDK deps and fix API breakage
  .golangci.yml
  awssmfs/awssm.go
  awssmfs/fake_client_test.go
  awssmpfs/awssmp.go
  awssmpfs/fake_client_test.go
  go.mod
  go.sum
Labels: dependencies

#171 vaultfs: Switch to Vault API's AuthMethod interface
  go.mod
  go.sum
  internal/tests/integration/vaultfs_test.go
  vaultfs/auth.go
  vaultfs/doc.go
  vaultfs/vault.go
  vaultfs/vault_test.go
  vaultfs/vaultauth/auth.go
  vaultfs/vaultauth/doc.go
  vaultfs/vaultauth/env.go
  vaultfs/vaultauth/env_test.go
  vaultfs/vaultauth/github.go
  vaultfs/vaultauth/github_test.go
  vaultfs/vaultauth/token.go
Labels: dependencies

#172 fix: fsimpl.ContentType should fallback to extension-guessing
  extensions.go
  extensions_test.go
Labels: enhancement
